.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0;
}

.container {
  display: flex;
  margin: 10px;
}

details {
  position: relative;
}

summary {
  cursor: pointer;
  position: relative;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

summary::marker {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dots {
  flex: 0 0 auto;
  width: 30px;
  background-color: #ddd;
  border-radius: 18px;
  cursor: pointer;
}

.popover {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 240px;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 #ccc;
}

.chip {
  padding: 10px;
  border-radius: 18px;
  background-color: #ddd;
  flex: 0 0 auto;
  margin-right: 5px;
  cursor: pointer;
}

.active {
  background-color: red;
}
